<div class="About container" id="About-us">
    <div class="Time">
      <p>Monday-saturday: 10:00am to 5:00pm</p>
      <p>Sunday Closed</p>
    </div>
    <img src="images/White_and_Brown_Cafe_Logo-removebg-preview (1) (1).png" alt="logo" height="200px">
    <div class="Info">
      <h1>CONTACT</h1>
      <li> Address:- XYZ</li>
      <li>Ph no. :- 9832314420</li>
    </div>
  </div>
</body>
</html>