<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Cafeteria</title>
    <link rel="icon" href="images/White_and_Brown_Cafe_Logo-removebg-preview (1) (1).png" height=500px>
    <link rel="stylesheet" href="/style.css">

  </head>
  <body >
    <div class="first">
      <div class="container">
      <img src="images/White_and_Brown_Cafe_Logo-removebg-preview (1) (1).png" alt="logo" height="80px" width="80px">
      <h1>Cafeteria</h1>
      <div class="Navbar container" style="padding-left: 700px">
      <a href="/">Home</a>
      <a href="/">Menu</a>
      <a href="/login">login</a>
      <a href="/signup">Sign up</a>
      <a href="#">My Cart</a>
      <a href="#About-us"> About us</a>
    </div>
    </div>
   </div>
