<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Cafeteria</title>
    <link rel="icon" href="White_and_Brown_Cafe_Logo-removebg-preview (1) (1).png" height=500px>
    <link rel="stylesheet" href="style.css">

  </head>
  <body >
     <div class="first">
       <div class="container">
       <img  class ="header_image" src="images/White_and_Brown_Cafe_Logo-removebg-preview (1) (1).png" alt="logo">
       <h1>Cafeteria</h1>
       <% if(employe) { %>
        <h1>Welcome <%= employe.first_name %></h1>
        <a href = "/logout">Log Out</a>
      <% }  else {%>   
       <div class="Navbar container" >
         <div class="Navbar1">     
       <a href="/">Home</a>
       <a href="/">Menu</a>
       <a href="/login">login</a>
       <a href="/signup">Sign up</a>
       <a href="#">My Cart</a>
       <a href="#About-us"> About</a>
     </div>
    </div>
    <% } %>
     </div>
    </div>
    

