body{
  background-color: #ceb19c;

}
h1{
  font-size: 40px;
}

.background-img{
  margin-left: -8px;
  position:absolute;
  margin-top: -20px;

}
.image2{
  position: relative;
}
.image2 h1{
  padding-top: 180px;
  position: absolute;
  margin-left: 800px;
  color: white;
}
.image2 h2{
  position: absolute;
  margin-left: 830px;
  padding-top: 240px;
  color: white;
}
button{
  color: brown;
  position: absolute;
}
.container{
  display: flex;
}
.Navbar a{
  padding-left: 20px;
  text-decoration: none;
  font: normal normal 300 28px/95px Roboto;
  line: none;
  color: #624531;
}
