<%- include('partials/head'); -%>

<!-- landing page -->
<header>
  <nav>
   <div class="first clearfix">
     <img src="images/White_and_Brown_Cafe_Logo-removebg-preview (1) (1).png" class="logo">
    <h4 class="logo_head">Cafeteria</h4>
    <% if(employe) { %>
      <h1>Welcome <%= employe.first_name %></h1>
      <li><a href = "/logout">Log Out</a></li>
    <% }  else {%>   
     <ul class="Navbar">
         <li><a href="/" class= "active"> Home</a></li>
         <li><a href="/"> Menu</a></li>
         <li><a href="/login"> Log in</a></li>
         <li><a href="/signup"> Sign Up</a></li>
         <li><a href="#About-us"> About Us</a></li>
     </ul>
     <% } %>
   </div>  
  </nav>
  <div class= "Home">
  <h1 class="changecolor">FEELING TIRED?</h1>
  <h1 class="changecolor1">HAVE A COFFEE</h1>
  <a href="/" class= "btn btn-full"> Order Now</a>
 </div>
 </header>



        <!-- Menu -->
<div class="Menu">

<div class="Food">
 <h1 class="menu_head">Beverages</h1>
</div>

<div class= "Gallery">

 <div class="column">
    <a href="/orderconfirm"><img src="images/IMG-20201229-WA0035.jpg"></a> 
   <div class ="menu_content">
     <h3>Americano</h3>
     <h3>150 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"> <img src="images/IMG-20201229-WA0024.jpg">
   <div class ="menu_content">
     <h3>Latte</h3>
     <h3>40 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/IMG-20201229-WA0040.jpg">
   <div class ="menu_content">
     <h3>Cappuccino</h3>
     <h3>70 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"> <img src="images/IMG-20201229-WA0031.jpg">
   <div class ="menu_content">
     <h3>Macchiato</h3>
     <h3>80 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/IMG-20201229-WA0041.jpg">
   <div class ="menu_content">
     <h3>Cafe Mocha</h3>
     <h3>60 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>


</div>

</div>

<!-- snacks section -->
<div class="Menu">

<div class="Food">
 <h1 class="menu_head">Snacks</h1>
</div>

<div class= "Gallery">

 <div class="column">
  <a href="/ordreconfirm"><img src="images/IMG-20201229-WA0035.jpg">
   <div class ="menu_content">
     <h3>Americano</h3>
     <h3>150 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/IMG-20201229-WA0024.jpg">
   <div class ="menu_content">
     <h3>Latte</h3>
     <h3>40 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/IMG-20201229-WA0040.jpg">
   <div class ="menu_content">
     <h3>Cappuccino</h3>
     <h3>70 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/IMG-20201229-WA0031.jpg">
   <div class ="menu_content">
     <h3>Macchiato</h3>
     <h3>80 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/IMG-20201229-WA0041.jpg">
   <div class ="menu_content">
     <h3>Cafe Mocha</h3>
     <h3>60 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>


</div>

</div>

<!-- Dessert and ice creams -->

<div class="Menu">

<div class="Food">
 <h1 class="menu_head">Dessert and Ice-Creams</h1>
</div>

<div class= "Gallery">

 <div class="column">
  <a href="/ordreconfirm"><img src="images/IMG-20201229-WA0035.jpg">
   <div class ="menu_content">
     <h3>Americano</h3>
     <h3>150 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/IMG-20201229-WA0024.jpg">
   <div class ="menu_content">
     <h3>Latte</h3>
     <h3>40 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/IMG-20201229-WA0040.jpg">
   <div class ="menu_content">
     <h3>Cappuccino</h3>
     <h3>70 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/IMG-20201229-WA0031.jpg">
   <div class ="menu_content">
     <h3>Macchiato</h3>
     <h3>80 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/IMG-20201229-WA0041.jpg">
   <div class ="menu_content">
     <h3>Cafe Mocha</h3>
     <h3>60 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>
</div>
</div>

<%- include('partials/footer'); -%>
  