<%- include('partials/header'); -%>

<!-- Info section -->
<div class="image2 container" id="Home">
  <img class="background-img" src="images/WhatsApp Image 2020-12-28 at 14.54.31.jpeg" alt="background-img">
  <div class="text">
  <h1> Feeling Tired? </h1>
  <h2 class="text2"> Have some Coffee </h2>
  <a href="#Menu">
  <button type="button" name="button">Menu</button></a>
</div>
</div>

<!-- Menu section -->

<div class="Menu1" id="Menu">
<h1>Menu</h1>
<div class="Food">
<div class="Gallery">
<a href = "/orderConfirm"><img src="images/IMG-20201229-WA0039.jpg" alt="Latte"></a>
<div class="desc">
 <h1>Cheese Sandwich</h1>
 <h1>Rs. 80</h1>
 <a href="#">
   <img src="images/cart.png" alt="cart-icon">
 </a>
</div>
</div>
<div class="Gallery">
  <a href = "/orderConfirm"><img src="images/IMG-20201229-WA0038.jpg" alt="Latte"></a>
<div class="desc">
 <h1>Frappe</h1>
 <h1>Rs. 100</h1>
 <a href="#">
   <img src="images/cart.png" alt="cart-icon">
 </a>
</div>
</div>
<div class="Gallery">
  <a href = "/orderConfirm"><img src="images/IMG-20201229-WA0037.jpg" alt="Latte"></a>
<div class="desc">
 <h1>Dosa</h1>
 <h1>Rs. 70</h1>
 <a href="#">
   <img src="images/cart.png" alt="cart-icon">
 </a>
</div>
</div>
<div class="Gallery">
  <a href = "/orderConfirm"><img src="images/IMG-20201229-WA0035.jpg" alt="Latte"></a>
<div class="desc">
 <h1>Americano</h1>
 <h1>Rs. 150</h1>
 <a href="#">
   <img src="images/cart.png" alt="cart-icon">
 </a>
</div>
</div>
<div class="Gallery">
  <a href = "/orderConfirm"><img src="images/IMG-20201229-WA0033.jpg" alt="Latte"></a>
<div class="desc">
 <h1>Paneer Sandwich</h1>
 <h1>Rs. 70</h1>
 <a href="#">
   <img src="images/cart.png" alt="cart-icon">
 </a>
</div>
</div>
<div class="Gallery">
  <a href = "/orderConfirm"><img src="images/IMG-20201229-WA0025.jpg" alt="Latte"></a>
<div class="desc">
 <h1>Veg Burger</h1>
 <h1>Rs. 50</h1>
 <a href="#">
   <img src="images/cart.png" alt="cart-icon">
 </a>
</div>
</div>
<div class="Gallery">
  <a href = "/orderConfirm"><img src="images/IMG-20201229-WA0027.jpg" alt="Latte"></a>
<div class="desc">
 <h1>Mawa Cake</h1>
 <h1>Rs. 80</h1>
 <a href="#">
   <img src="images/cart.png" alt="cart-icon">
 </a>
</div>
</div>
<div class="Gallery">
  <a href = "/orderConfirm"><img src="images/IMG-20201229-WA0028.jpg" alt="Latte"></a>
<div class="desc">
 <h1>Spring Roll</h1>
 <h1>Rs. 45</h1>
 <a href="#">
   <img src="images/cart.png" alt="cart-icon">
 </a>
</div>
</div>
<div class="Gallery">
  <a href = "/orderConfirm"><img src="images/IMG-20201229-WA0024.jpg" alt="Latte"></a>
<div class="desc">
 <h1>Latte</h1>
 <h1>Rs. 40</h1>
 <a href="#">
   <img src="images/cart.png" alt="cart-icon">
 </a>
</div>
</div>
<div class="Gallery">
  <a href = "/orderConfirm"><img src="images/IMG-20201229-WA0029.jpg" alt="Latte"></a>
<div class="desc">
 <h1>Paneer Cutlet</h1>
 <h1>Rs. 50</h1>
 <a href="#">
   <img src="images/cart.png" alt="cart-icon">
 </a>
</div>
</div>
<div class="Gallery">
  <a href = "/orderConfirm"><img src="images/IMG-20201229-WA0030.jpg" alt="Latte"></a>
<div class="desc">
 <h1>Mirchi Bajji</h1>
 <h1>Rs. 40</h1>
 <a href="#">
   <img src="images/cart.png" alt="cart-icon">
 </a>
</div>
</div>
<div class="Gallery">
  <a href = "/orderConfirm"><img src="images/IMG-20201229-WA0031.jpg" alt="Latte"></a>
<div class="desc">
 <h1>Macchiato</h1>
 <h1>Rs. 80</h1>
 <a href="#">
   <img src="images/cart.png" alt="cart-icon">
 </a>
</div>
</div>
<div class="Gallery">
  <a href = "/orderConfirm"><img src="images/IMG-20201229-WA0040.jpg" alt="Latte"></a>
<div class="desc">
 <h1>Cappuccino</h1>
 <h1>Rs. 70</h1>
 <a href="#">
   <img src="images/cart.png" alt="cart-icon">
 </a>
</div>
</div>
<div class="Gallery">
  <a href = "/orderConfirm"><img src="images/IMG-20201229-WA0041.jpg" alt="Latte"></a>
<div class="desc">
 <h1>Cafe Mocha</h1>
 <h1>Rs. 60</h1>
 <a href="#">
   <img src="images/cart.png" alt="cart-icon">
 </a>
</div>
</div>
<div class="Gallery">
  <a href = "/orderConfirm"><img src="images/IMG-20201229-WA0042.jpg" alt="Latte"></a>
<div class="desc">
 <h1>Kaju Vadi</h1>
 <h1>Rs. 45</h1>
 <a href="#">
   <img src="images/cart.png" alt="cart-icon">
 </a>
</div>
</div>
<div class="Gallery">
  <a href = "/orderConfirm"><img src="images/IMG-20201229-WA0043.jpg" alt="Latte"></a>
<div class="desc">
 <h1>Aloo Bonda</h1>
 <h1>Rs. 30</h1>
 <a href="#">
   <img src="images/cart.png" alt="cart-icon">
 </a>
</div>
</div>
<div class="Gallery">
  <a href = "/orderConfirm"><img src="images/momo.jpg" alt="Latte"></a>
<div class="desc">
 <h1>Momos</h1>
 <h1>Rs. 45</h1>
 <a href="#">
   <img src="images/cart.png" alt="cart-icon">
 </a>
</div>
</div>
<div class="Gallery">
  <a href = "/orderConfirm"><img src="images/Samosa.jpg" alt="Latte"></a>
<div class="desc">
 <h1>Samosa</h1>
 <h1>Rs. 30</h1>
 <a href="#">
   <img src="images/cart.png" alt="cart-icon">
 </a>
</div>
</div>
</div>
</div>

<%- include('partials/footer'); -%>
  