<%- include('partials/head'); -%>

<!-- landing page -->
<header>
  <nav>
    <div class="first clearfix">
      <img src="images/logo.png" class="logo">
     <h4 class="logo_head">Cafeteria</h4>
     <ul class="Navbar">
     <% if(employe) { %>
       <h1>Welcome <%= employe.first_name %></h1>
       <li><a href = "/logout">Log Out</a></li>
     <% }  else {%>   
          <li><a href="/" class= "active"> Home</a></li>
          <li><a href="/"> Menu</a></li>
          <li><a href="/login"> Log in</a></li>
          <li><a href="/signup"> Sign Up</a></li>
          <li><a href="#About-us"> About Us</a></li>
      </ul>
      <% } %>
    </div>  
   </nav>
  <div class= "Home">
  <h1 class="changecolor">FEELING TIRED?</h1>
  <h1 class="changecolor1">HAVE A COFFEE</h1>
  <a href="/" class= "btn btn-full"> Order Now</a>
 </div>
 </header>



        <!-- Menu -->
<div class="Menu">

<div class="Food">
 <h1 class="menu_head">Beverages</h1>
</div>

<div class= "Gallery">

 <div class="column">
    <a href="/orderconfirm"><img src="images/americano.jpg"></a> 
   <div class ="menu_content">
     <h3>Americano</h3>
     <h3>150 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/orderconfirm"><img src="images/latte.jpg"></a> 
 <div class ="menu_content">
   <h3>Latte</h3>
   <h3>40 Rs.</h3>
   <a href="#" class="menu_btn">Order</a>
   <a href="#" class="meal_btn">Add to Meal</a>
 </div>
</div>

<div class="column">
  <a href="/orderconfirm"><img src="images/cafe_mocha.jpg"></a> 
 <div class ="menu_content">
   <h3>Cafe Mocha</h3>
   <h3>60 Rs.</h3>
   <a href="#" class="menu_btn">Order</a>
   <a href="#" class="meal_btn">Add to Meal</a>
 </div>
</div>

<div class="column">
  <a href="/orderconfirm"><img src="images/cappuccino.jpg"></a> 
 <div class ="menu_content">
   <h3>Cappuccino</h3>
   <h3>70Rs.</h3>
   <a href="#" class="menu_btn">Order</a>
   <a href="#" class="meal_btn">Add to Meal</a>
 </div>
</div>

<div class="column">
  <a href="/orderconfirm"><img src="images/machiato.jpg"></a> 
 <div class ="menu_content">
   <h3>Macchiato</h3>
   <h3>80 Rs.</h3>
   <a href="#" class="menu_btn">Order</a>
   <a href="#" class="meal_btn">Add to Meal</a>
 </div>
</div>

<div class="column">
  <a href="/orderconfirm"><img src="images/chocolate_shake.jpg"></a> 
 <div class ="menu_content">
   <h3>Chocolate shake</h3>
   <h3>100 Rs.</h3>
   <a href="#" class="menu_btn">Order</a>
   <a href="#" class="meal_btn">Add to Meal</a>
 </div>
</div>

 <div class="column">
  <a href="/orderconfirm"> <img src="images/lavender_mojito.jpeg">
   <div class ="menu_content">
     <h3>Lavender Mojito</h3>
     <h3>90 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/masala_chass.jpeg">
   <div class ="menu_content">
     <h3>Masala Chass</h3>
     <h3>30 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"> <img src="images/gin_cucumber_cooler.jpeg">
   <div class ="menu_content">
     <h3>Gin Cucumber Cool</h3>
     <h3>60 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/cranberry_vanilla.jpeg">
   <div class ="menu_content">
     <h3>Cranberry Vanilla</h3>
     <h3>60 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>


</div>

</div>

<!-- snacks section -->
<div class="Menu">

<div class="Food">
 <h1 class="menu_head">Snacks</h1>
</div>

<div class= "Gallery">

 <div class="column">
  <a href="/ordreconfirm"><img src="images/aloo_bonda.jpg">
   <div class ="menu_content">
     <h3>Aloo Bonda</h3>
     <h3>40 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/burger.jpg">
   <div class ="menu_content">
     <h3>Burger</h3>
     <h3>80 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/cheese_sandwich.jpg">
   <div class ="menu_content">
     <h3>Cheese Sandwich</h3>
     <h3>70 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/cutlet.jpg">
   <div class ="menu_content">
     <h3>Cutlet</h3>
     <h3>30 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/dosa.jpg">
   <div class ="menu_content">
     <h3>Dosa</h3>
     <h3>60 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/momo.jpg">
   <div class ="menu_content">
     <h3>Momos</h3>
     <h3>50 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/mirchi_pakoda.jpg">
   <div class ="menu_content">
     <h3>Mirchi Pakoda</h3>
     <h3>50 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 
 <div class="column">
  <a href="/ordreconfirm"><img src="images/spring_rolls.jpg">
   <div class ="menu_content">
     <h3>Spring Rolls</h3>
     <h3>50 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 
 <div class="column">
  <a href="/ordreconfirm"><img src="images/sandwich.jpg">
   <div class ="menu_content">
     <h3>Masala Sandwich</h3>
     <h3>50 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 
 <div class="column">
  <a href="/ordreconfirm"><img src="images/tasty_cultet.jpg">
   <div class ="menu_content">
     <h3>cutlets</h3>
     <h3>50 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>


</div>

</div>

<!-- Dessert and ice creams -->

<div class="Menu">

<div class="Food">
 <h1 class="menu_head">Dessert and Ice-Creams</h1>
</div>

<div class= "Gallery">

 <div class="column">
  <a href="/ordreconfirm"><img src="images/cake.jpg">
   <div class ="menu_content">
     <h3>Fruits and Nuts Cake</h3>
     <h3>150 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/IMG-20201229-WA0024.jpg">
   <div class ="menu_content">
     <h3>Latte</h3>
     <h3>40 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/IMG-20201229-WA0040.jpg">
   <div class ="menu_content">
     <h3>Cappuccino</h3>
     <h3>70 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/IMG-20201229-WA0031.jpg">
   <div class ="menu_content">
     <h3>Macchiato</h3>
     <h3>80 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/IMG-20201229-WA0041.jpg">
   <div class ="menu_content">
     <h3>Cafe Mocha</h3>
     <h3>60 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/coconut_lime.jpeg">
   <div class ="menu_content">
     <h3>Cafe Mocha</h3>
     <h3>60 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/lemon_custard.jpeg">
   <div class ="menu_content">
     <h3>Lemon custard</h3>
     <h3>60 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/Mint_chocolate_chip.jpeg">
   <div class ="menu_content">
     <h3>Mint Chocolate Chip</h3>
     <h3>60 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/strawberry_icecream.jpeg">
   <div class ="menu_content">
     <h3>Strawberry Ice cream</h3>
     <h3>60 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

 <div class="column">
  <a href="/ordreconfirm"><img src="images/moose_tracks.jpeg">
   <div class ="menu_content">
     <h3>Moose Tracks</h3>
     <h3>60 Rs.</h3>
     <a href="#" class="menu_btn">Order</a>
     <a href="#" class="meal_btn">Add to Meal</a>
   </div>
 </div>

</div>
</div>

<%- include('partials/footer'); -%>
  