<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Cafeteria</title>
    <link rel="icon" href="White_and_Brown_Cafe_Logo-removebg-preview (1) (1).png" height=500px>
    <link rel="stylesheet" href="style.css">
  </head>
  <body >
     <div>
       <div class="container">
       <img src="White_and_Brown_Cafe_Logo-removebg-preview (1) (1).png" alt="logo" height="80px" width="80px">
       <h1>Cafeteria</h1>
       <div class="Navbar container" style="padding-left: 700px">
       <a href="#Home">Home</a>
       <a href="#Menu">Menu</a>
       <a href="About us"> About us</a>
     </div>
     </div>

    </div>
    <div class="image2">

      <img class="background-img"src="WhatsApp Image 2020-12-28 at 14.54.31.jpeg" alt="background-img" width="1348">
      <h1> Feeling Tired? </h1>
      <h2> Have some Coffee </h2>
      <button type="button" name="button">See the Menu</button>
    </div>
    </div>
  </body>
</html>
