<h1> Registration Successfull</h1>
<div class = "profile">
    <img src="my image.jpg" alt=""/>
    <h2 class= "name">Divyasha sinha</h2>
    <p class=" Email">Email id:diyashasinha23@gmail.com</p>
    <p class= "Employe_id">Employe ID: 23 </p>
    <p class = "Registration_id">Registration ID:5462638jnjcnjhk</p>
    <p class = "Menu"><a href="#">Back to menu</a></p>
</div>