<%- include('partials/header'); -%>
<!-- <form class="signup_page" action="/signup">

  <div class="signup container">
  <div  class="signup-text" style="padding-left:200px;">
      <img src="images/White_and_Brown_Cafe_Logo-removebg-preview (1) (1).png" alt="signup_image" width="70px" height="70px">
      <h1 style="font-size:60px; border:dotted; margin-top:10px">Cafeteria</h1>

  <div class="container">
  <img src="images/usernamelogo.jpg" alt="usernamelogo" height="30px" width="25px" style="margin-top:-2px">
  <div class="container1">

<div class = "signup_details">
      <label for="first_name"></label>   
      <input type="text" name= "first_name" placeholder="First Name" required style="font-size:18px"></input>
</div>
<div class = "signup_details">
  <label for="last_name"></label>   
  <input type="text" name= "last_name" placeholder="Last Name" required style="font-size:18px"></input>
</div>
<div class = "signup_details">
  <label for="mobile_no"></label>   
  <input type="number" name= "mobile_no" placeholder="Mobile no." required style="font-size:18px"></input>
</div>
<div class = "signup_details">
  <label for="employe_id"></label>   
  <input type="text" name= "employe_id" placeholder="employe_id" required style="font-size:18px"></input>
</div>
<div class="employe_id error"></div>
<div class = "signup_details">
  <label for="email"></label>   
  <input type="text" name= "email" placeholder="Email" required style="font-size:18px"></input>
</div>
<div class="email error"></div>
<div class = "signup_details">
  <label for="password"></label>   
  <input type="password" name= "password" placeholder="password" required style="font-size:18px"></input>
</div>
<div class="password error"></div>
  </div>
  </div>
  <button class = "submit" type="submit"> Sign up</button>
  </div>
  </div>
</form> -->
<div class= "signup_container">
  <div class="wrap">
    <h2 class="signup_head">Sign up here</h2>
    <form>
      <label for="first_name"></label> 
      <input type="text" name= "first_name" placeholder="First Name">
      <label for="last_name"></label> 
      <input type="text" name= "last_name" placeholder="Last Name">
      <label for="employe_id"></label> 
      <input type="number" name= "employe_id" placeholder="Employe ID">
      <div class="employe_id error"></div>
      <label for="email"></label> 
      <input type="text" name= "email" placeholder="email">
      <div class="email error"></div>
      <label for="password"></label> 
      <input type="password" name= "password" placeholder="Password">
      <div class="password error"></div>
      <label for="mobile_no"></label> 
      <input type="number" name= "mobile_no" placeholder="Mobile no.">
      <label for="first_name"></label> 
      <button class="signup_btn" type="submit">sign up</button>
      
    </form>
  </div>
  </div>


<script>
    const form = document.querySelector('form');
    const employeidError = document.querySelector('.employe_id.error');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      // reset errors
      employeidError.textContent = '';
      emailError.textContent='';
      passwordError.textContent = '';
      // get values
      const first_name = form.first_name.value;
      const last_name = form.last_name.value;
      const mobile_no = form.mobile_no.value;
      const employe_id = form.employe_id.value;
      const password = form.password.value;
      const email = form.email.value;
      try {
        const res = await fetch('/signup', { 
          method: 'POST', 
          body: JSON.stringify({ first_name,last_name,mobile_no,employe_id, password, email }),
          headers: {'Content-Type': 'application/json'}
        });
        const data = await res.json();
        console.log(data);
        if (data.errors) {
          employeidError.textContent = data.errors.employe_id;
          emailError.textContent= data.errors.email;
          passwordError.textContent = data.errors.password;
        }
          else{
          location.assign('/profile');
        }
      }
      catch (err) {
        console.log(err);
      }
    });
  </script>