<%- include('partials/header'); -%>
<form class="signup_page" action="/signup" method="post">
  <div>
  <div class="signup container">
  <div  class="signup-text" style="padding-left:200px;">
      <img src="images/White_and_Brown_Cafe_Logo-removebg-preview (1) (1).png" alt="signup_image" width="70px" height="70px">
      <h1 style="font-size:60px; border:dotted; margin-top:10px">Cafeteria</h1>

  <div class="container">
  <img src="images/usernamelogo.jpg" alt="usernamelogo" height="30px" width="25px" style="margin-top:-2px">
  <div class="container1">
    <input type="text" name=" first_name" placeholder="First Name" required style="font-size:18px"></input>
<input type="text" name="last_name" placeholder="Last Name" required style="font-size:18px;margin-top:10px"></input>
<label for="email"></label>
<input type="text" name="email" placeholder="E-mail" required style="font-size:18px;margin-top:10px"></input>
<!-- <input type="text" name="Organization-name" placeholder="Organization Name" required style="font-size:18px;margin-top:10px"></input> -->
<input type="text" name="employe_id" placeholder="Employee ID no." required style="font-size:18px;margin-top:10px"></input>
<input type="number" name="mobile_no" placeholder="Mobile Number" required style="font-size:18px;margin-top:10px"></input>
<label for="images/download.png"></label>
<!-- <input type="file" name="ID" placeholder="ID" required style="font-size:20px; margin-top:19px;"></input> -->
  </div>
  </div>
  <div>
  <img src="images/download.png" alt="password" height="30px" width="25px">
  <input type="password" name="Password" placeholder="Enter your password" required style="font-size:18px"></input>
  </div>
  <button type="submit" name="button" style="font-size:15px; height:40px; width: 60px; border-radius:20%;" onclick="Onwin()">
    <a>
    Sign up
    </a>
  </button>
  <h4>
  <input type="checkbox">Remember me
  </h4>

  </div>
  </div>

</div>
</form>
<script>
    const form = document.querySelector('form');
    const employeidError = document.querySelector('.employe_id.error');
    const emailError = document.querySelector('.employe_id.error');
    const passwordError = document.querySelector('.password.error');
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      // reset errors
      employeidError.textContent = '';
      emailError.textContent='';
      passwordError.textContent = '';
      // get values
      const first_name=form.first_name.value;
      const last_name=form.last_name.value;
      const mobile_no=form.mobile_no.value;
      const employe_id = form.employe_id.value;
      const password = form.password.value;
      try {
        const res = await fetch('/signup', { 
          method: 'POST', 
          body: JSON.stringify({ first_name,last_name,mobile_no,employe_id, password }),
          headers: {'Content-Type': 'application/json'}
        });
        const data = await res.json();
        console.log(data);
        if (data.errors) {
          employeidError.textContent = data.errors.employe_id;
          emailError.textContent=data.errors.email;
          passwordError.textContent = data.errors.password;
        }
          else{
          location.assign('/');
        }
      }
      catch (err) {
        console.log(err);
      }
    });
  </script>